.policy-page {
    margin-top: 20px;
    padding: 20px;
  }
  
  .policy-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .policy-page h4 {
    margin-top: 20px;
  }
  
  .policy-page p {
    margin-bottom: 15px;
  }