/* Doctors.css */
.filter-row {
    margin-bottom: 20px;
  }
  
  .filter-row .form-control {
    margin-right: 10px;
  }
  .ourh >.section-title  {
    
    margin-bottom: 0rem; 
    margin-top:0rem;
    
}

  /* .ourh >.section-title h1 {
    
    margin-bottom: 0rem; 
    
} */
  