.minimized-chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.minimized-chat-icon.hidden {
  opacity: 0;
  visibility: hidden;
}

.herbal-chat-container.hidden {
  display: none;
}
