.modal-header {
    border-bottom: none;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .form-label {
    font-size: 1rem;
  }
  
  .form-control {
    height: auto;
    padding: 0.75rem 1rem;
  }
  
  .btn-primary {
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .alert {
    margin-top: 1rem;
  }
  