.contact-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 100px);
  width: 100vw;
  box-shadow: 0 0 1rem 5px #0005;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 10px;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e6f7f5; /* Light background color */
  border-radius: 1rem;
}

.msg-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow-y: auto;
  padding: 1rem;
  background-color: #ffffff; /* Background color of the message area */
  border-radius: 1rem;
  border: 1px solid #39cabb;
}

.msg-self,
.msg-other {
  max-width: 300px;
  display: inline-block;
  text-align: left;
  padding: 1rem;
  color: #fff;
  margin: 5px 10px;
  border-radius: 2rem;
}

.msg-self {
  align-self: flex-end;
  background-color: #39cabb; /* Sent message color */
  border-bottom-right-radius: 4px;
}

.msg-other {
  align-self: flex-start;
  background-color: #e5e5e5; /* Received message color */
  color: #000;
  border-bottom-left-radius: 4px;
}

.chat-room {
  padding: 20px;
}

.participants-list {
  border-right: 1px solid #ccc;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.chat-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 20px;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #39cabb;
  border-radius: 5px;
}

.message-send-button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: #39cabb; /* Send button color */
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.message-send-button:hover {
  background-color: #33b3a3; /* Darker color on hover */
}
