.logo img {
	width: 2.1rem;
	height: 2rem;
}

.logo h1 {
	display: inline;
	font-family: "Jost", sans-serif;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 900;
	color: #00224f;
	margin: 5px;
}

.nav-item {
	text-decoration: none;
	color: #00224f;
	font-weight: 500;
	margin-left: 1rem;
}

.nav-item:hover,
.active {
	color: #39cabb;
}

.user {
	position: relative;
	display: flex;
	align-items: center;
}

.user-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 0 3px #39cabb88;
	cursor: pointer;
}

.user-icon img {
	width: 100%;
	height: 100%;
}

.nav-small-text {
	font-size: 14px;
}

.offcanvas-end.show .offcanvas-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.offcanvas-end.show .nav-item {
	margin: 0.5rem 0;
}

.offcanvas-end.show .btn-main {
	margin: 0.5rem auto !important;
}

.offcanvas-end.show .user-profile {
	display: none !important;
}

.mobile-profile {
	display: none !important;
}

.offcanvas-end.show .mobile-profile {
	display: flex !important;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.shopbut {
	background-color: #FF9900;
	border: none;
}

/* Additional styling for NavDropdown */

.user-profile .dropdown-menu {
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
	padding: 1rem;
	padding-top: 0;
	border-radius: 1rem;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.user-profile .dropdown-item-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1rem 0;
}

.user-profile .dropdown-item-text h5 {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.user-profile .dropdown-item-text small {
	color: #555;
}

.user-profile .dropdown-item {
	padding: 0.5rem 1rem;
	text-align: center;
	font-weight: inherit;
}

.user-profile .dropdown-item:hover {
	background-color: #f8f9fa;
	border-radius: 0.5rem;
}

.user-profile .dropdown-item .btn {
	width: 100%;
	margin: 0;
	border-radius: 0;
}

.user-profile .dropdown-divider {
	margin: 0.5rem 0;
	border-top: 1px solid #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #39cabb !important;
}
