/* Improved user icon and dropdown styles */
.user-icon {
  overflow: hidden;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #39cabb;
  box-shadow: 0 0 0 3px #39cabb88;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 4px #39cabbcc;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 10;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgba(34, 34, 34, 0.4);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  transition: opacity 0.3s ease;
}

.user-info.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.user:hover .user-info {
  display: flex;
}

.nav-dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
