.how-it-works-section {
    padding: 40px 0;
  }
  
  .content-column {
    padding: 2rem;
  }
  
  .content-box .step {
    margin-bottom: 2rem;
    background-color: rgba(217, 235, 247, 0.5); /* Blending with the background */
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .content-box .step:hover {
    transform: translateY(-5px);
    background-color: #d9ebf7; /* Clearer color on hover */
  }
  
  .content-box .step h3 {
    font-size: 1.5rem;
    color: #00224f;
    font-family: 'Jost', sans-serif;
  }
  
  .content-box .step p {
    font-size: 1rem;
    color: gray;
    font-family: 'Poppins', sans-serif;
  }
  
  .video-column .video-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .demo-video {
    width: 80%; /* Make the video smaller */
    border-radius: 0; /* Remove borders */
    box-shadow: none; /* Remove box shadow */
    opacity: 0.7; /* Blend the video into the background */
  }
  
  @media (max-width: 767.98px) {
    .section-title h1 {
      font-size: 2rem;
    }
  
    .section-title h4 {
      font-size: 1rem;
    }
  
    .content-box .step h3 {
      font-size: 1.25rem;
    }
  
    .content-box .step p {
      font-size: 0.9rem;
    }
  }
  