.signup-heading {
  height: 400px;
  background-color: #453f85;
  text-align: center;
}

.signup-panel {
  box-shadow: 0 0 1rem 5px #0005;
  background-color: #fff;
  padding: 1.5rem;
  margin: -280px auto 5rem auto;
  border-radius: 1rem;
  max-width: 500px;
}

.signup {
  padding: 0 1.5rem;
}
