.signup-heading {
	height: 400px;
	background-color: #453f85;
	text-align: center;
}

.signup-panel {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	background-color: #fff;
	padding: 2.5rem 2rem;
	margin: 0 auto;
	margin-top: -280px;
	margin-bottom: 5rem;
	border-radius: 0.5rem;
	width: 500px;
}

.signup-title {
	font-family: "Poppins", sans-serif;
}
.signup {
	padding-right: 1.5rem;
}

.signup-icon-size {
	height: 36px;
	width: 36px;
}
.signup-panel .form-floating label {
	padding-left: 20px;
}

@media only screen and (max-width: 500px) {
	.signup-panel {
		width: 100%;
		box-shadow: none;
		border-radius: 0;
		padding: 2rem 1rem;
	}
}
