.signup-heading {
  height: 400px;
  background-color: #453f85;
  text-align: center;
}

.signup-panel {
  box-shadow: 0 0 1rem 5px #0005;
  background-color: #fff;
  padding: 1.5rem;
  margin: auto; /* Center horizontally */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh; /* Adjust as necessary */
}

.signup {
  padding-right: 1.5rem;
}
